.achievements-list {
  background-color: @gray-back;
}

.achievements-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.achievements-list__title {
  .label();
  line-height: 18px;
  text-align: center;
}

.achievements-list__label {
  font-size: 18px;
  line-height: 30px;
}
