.app-field {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 0;
  box-sizing: border-box;
  background-color: @gray-back;
}

.app-field__title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .label();
  line-height: 18px;
}

.app-field__list {
  margin: 0 auto;
  margin-top: 38px;
}

@media (min-width: @tablet) {
  .app-field {
    width: 620px;
    padding-top: 42px;
    padding-left: 59px;
    padding-bottom: 21px;
    margin-bottom: 50px;
    background-color: transparent;
  }

  .app-field__title {
    width: auto;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 26px;
    margin-left: calc(~"50% - 159px - 50px");
  }

  .app-field__list {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: @desktop) {
  .app-field {
    width: 434px;
    margin: 0;
    padding-left: 51px;
    padding-top: 44px;
  }

  .app-field__title {
    padding-left: 22px;
    padding-right: 25px;
    padding-top: 3px;
    margin-left: calc(~"50% - 159px - 44px");
  }

  .app-field__list {
    margin-left: 23px;
  }
}
