.app-field {
  padding-top: 38px;
  background-color: @gray-back;
}

.app-field__title {
  margin: 0;
  text-align: center;
  .label();
  line-height: 18px;
}

.app-field__list {
  margin-top: 38px;
}
