.app-field {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  box-sizing: border-box;
  background-color: @gray-back;
}

.app-field__title {
  margin: 0;
  text-align: center;
  .label();
  line-height: 18px;
}

.app-field__list {
  margin: 0 auto;
  margin-top: 38px;
}
