.button {
  display: block;
  padding-top: 14px;
  box-sizing: border-box;
  text-align: center;
  font-family: @bold-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 27px;
  background-color: transparent;
  cursor: pointer;

  &--white {
    width: 281px;
    padding-bottom: 16px;
    border-color: #ffffff;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: @pink;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }

  &--pink {
    width: 280px;
    padding-bottom: 17px;
    border-color: @pink;
    color: @pink;

    &:hover {
      background-color: @pink;
      color: #ffffff;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--pale {
    width: 280px;
    padding-bottom: 17px;
    border-color: #dddfe0;
    color: #dddfe0;

    &:hover {
      border-color: rgba(40, 54, 69, 0.3);
      color: rgba(40, 54, 69, 0.3);
    }

    &:active {
      border-color: #b5b9be;
      background-color: rgba(40, 54, 69, 0.3);
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: @tablet) {
  .button {
    &--pink {
      width: 260px;
    }

    &--pale {
      width: 260px;
    }

    &--white {
      width: 300px;
      padding-bottom: 17px;
    }
  }
}

@media (min-width: @desktop) {
  .button {
    &--pink {
      width: 183px;
    }

    &--pale {
      width: 183px;
    }

    &--white {
      font-size: 21px;
    }
  }
}
