.comp-form__name {
  margin-bottom: 0;
}

.comp-form__submit {
  margin: 0 auto;
}

.comp-form__remark {
  display: inline-block;
  line-height: 30px;
  text-transform: uppercase;
  &--pink {
    color: @pink;
  }
}
