.contacts {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
}

.contacts__list {
  min-width: 280px;
  margin: 0 auto;
  margin-top: 38px;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}

.contacts__header {
  margin: 0;
  font-family: @light-font;
  font-weight: 300;
  font-size: 24px;
}

.contacts__label {
  margin-bottom: 5px;
  font-size: 18px;
}

.contacts__contact {
  display: block;
  margin-bottom: 24px;
  font-family: @light-font;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: @pink;

  &--bottom {
    margin-bottom: 0;
  }

  &--mail:hover {
    color: @dark-blue;
    text-decoration: underline;
  }

  &--mail:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__static-map {
  position: relative;
  height: 219px;
  overflow: hidden;
  background-color: #eae6dd;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 595px;
    height: 62px;
    z-index: 5;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 320px 52px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    width: 36px;
    height: 35px;
    box-sizing: border-box;
    background-color: @pink;
    border: 9px solid #ffffff;
    border-radius: 50%;
  }
}

@media (min-width: @tablet) {
  .contacts {
    min-width: @tablet;
    padding-top: 56px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 620px;
    margin-top: 57px;
    padding-bottom: 30px;
  }

  .contacts__item {
    min-width: 250px;
  }

  .contacts__header {
    font-size: 40px;
  }

  .contacts__label {
    margin-bottom: 12px;
  }

  .contacts__contact {
    margin-bottom: 50px;

    &--bottom {
      margin-bottom: 0;
    }
  }

  .contacts__static-map {
    height: 375px;

    &::before {
      width: @tablet;
      height: 70px;
      background-size: @tablet 70px;
    }
  }
}

@media (min-width: @desktop) {
  .contacts {
    min-width: @desktop;
    padding-top: 77px;
  }

  .contacts__list {
    min-width: 940px;
    margin-top: 69px;
    padding-bottom: 0;
  }

  .contacts__item {
    &--tel {
      order: 1;
    }

    &--address {
      order: 2;
    }

    &--mail {
      order: 3;
    }
  }

  .contacts__header {
    font-size: 50px;
  }

  .contacts__label {
    margin-bottom: 29px;
  }

  .contacts__contact {
    margin-bottom: 0;
  }

  .contacts__static-map {
    height: 502px;

    &::before {
      width: @desktop;
      height: 103px;
      background-size: @desktop 103px;
    }
  }
}
