.contacts {
  text-align: center;
}

.contacts__list {
  list-style: none;
  padding: 0;
  padding-bottom: 80px;
  margin: 0;
  background: #ffffff url('../../img/bg-triangle-white-footer.svg') no-repeat bottom;
}
