.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 0 auto;
}

.developer__text {
  display: inline-block;
  line-height: 18px;
}

.developer__link {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: auto;
  background: url('../img/logo-htmlacademy.svg') no-repeat center;
}

@media (min-width: @tablet) {
  .developer {
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .developer {
    width: 160px;
  }

  .developer__text {
    margin-left: 0;
    font-size: 18px;
  }
}
