.download {
  background-color: #1d2631;
  text-align: center;
}

.download__button {
  margin: 0 auto;
}

.download__phone-list {
  margin: 0 auto;
}

.download__text {
  font-family: @light-font;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
