.download {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  background-color: #1d2631;

  &::before {
    content: "";
    position: absolute;
    bottom: 267px;
    left: 0;
    width: 255px;
    height: 290px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .download::before {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 516px auto;
  }
}

.download__button {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 32px;
}

.download__phone-list {
  margin: 0 auto;
}

.download__header {
  display: none;
  margin-top: 0;
  font-family: @light-font;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
}

.download__text {
  margin-top: 21px;
  margin-bottom: 29px;
  padding-left: 34px;
  padding-right: 35px;
  font-family: @light-font;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}

.download__box {
  padding-top: 1px;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}

@media (min-width: @tablet) {
  .download {
    width: @tablet;
    z-index: 1;
    padding-bottom: 19px;
    background-color: transparent;

    &::before {
      width: 660px;
      height: 545px;
      z-index: -1;
      left: -20px;
      bottom: 0;
      background-image: url("../img/iphone-hand-tablet@1x.png");
    }
  }

  .download__box {
    width: 320px;
    padding-top: 0;
    padding-left: 20px;
  }

  .download__header {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    line-height: 48px;
  }

  .download__button {
    margin-top: 30px;
    margin-bottom: 46px;
  }

  .download__text {
    margin-top: 36px;
    margin-bottom: 89px;
    padding: 0;
    font-size: 18px;
  }
}

@media (min-width: @tablet) and (min-resolution: @retina-dpi),
  (min-width: @tablet) and (min-resolution: @retina-dppx) {
  .download::before {
    background-image: url("../img/iphone-hand-tablet@2x.png");
    background-size: 1400px auto;
  }
}

@media (min-width: @desktop) {
  .download {
    width: @desktop;
    min-height: 645px;
    margin-top: 98px;

    &::before {
      width: 1050px;
      height: 645px;
      left: 25px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
    }
  }

  .download__header {
    margin-top: 20px;
  }

  .download__button {
    margin-top: 62px;
    margin-bottom: 67px;
  }

  .download__text {
    margin-top: 60px;
    margin-bottom: 124px;
  }
}

@media (min-width: @desktop) and (min-resolution: @retina-dpi),
  (min-width: @desktop) and (min-resolution: @retina-dppx) {
  .download::before {
    background-image: url("../img/iphone-hand-desktop@2x.png");
    background-size: 2100px auto;
  }
}
