.features-list {
  list-style: none;
  padding-bottom: 0;
  padding-top: 85px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: @tablet) {
  .features-list {
    text-align: left;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 20px;
  }
}

@media (min-width: @desktop) {
  .features-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: @desktop;
    min-height: 610px;
    text-align: center;
  }
}
