.features {
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 41px;
  text-align: center;
}

.features__back {
  width: 100%;
  margin-top: 36px;
  padding-bottom: 279px;
  background-color: @gray-back;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.features__header {
  margin-top: 0;
  margin-bottom: 33px;
  font-family: @light-font;
  font-weight: 300;
  font-size: 24px;

  &--bottom {
    margin-bottom: 0;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-family: @bold-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
}

.features__item {
  display: block;
  position: relative;

  &--smile::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: -371px;
    width: 157px;
    height: 330px;
    margin-left: -78px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .features__item--smile::before {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 314px auto;
  }
}

.features__text {
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 39px;
}

.features__list {
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .features {
    min-width: @tablet;
    padding-top: 50px;
  }

  .features__list {
    margin-left: 330px;
  }

  .features__back {
    padding-bottom: 4px;
  }

  .features__item--smile::before {
    width: 268px;
    height: 481px;
    bottom: -43px;
    left: -310px;
    margin-left: auto;
    z-index: 1;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
  }

  .features__header {
    font-size: 40px;
    margin-bottom: 2px;

    &--bottom {
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
      margin-bottom: 51px;
    }
  }

  .features__title {
    margin-bottom: 19px;
  }

  .features__text {
    margin-bottom: 41px;
  }
}

@media (min-width: @tablet) and (min-resolution: @retina-dpi),
  (min-width: @tablet) and (min-resolution: @retina-dppx) {
  .features__item--smile::before {
    background-image: url("../img/iphone-screen-tablet@2x.png");
    background-size: 536px auto;
  }
}

@media (min-width: @desktop) {
  .features {
    min-width: @desktop;
    padding-top: 70px;
  }

  .features__list {
    margin-left: auto;
    margin-bottom: 0;
  }

  .features__back {
    margin-top: 82px;
    padding-bottom: 0;
  }

  .features__header {
    font-size: 50px;
    margin-bottom: 4px;

    &--bottom {
      width: 425px;
      margin-bottom: 40px;
    }
  }

  .features__title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
  }

  .features__text {
    font-size: 18px;
    line-height: 30px;
  }

  .features__item {
    flex-basis: 245px;

    &--gray {
      margin-left: 27px;

      &::before {
        content: "";
        position: absolute;
        top: -358px;
        left: 50%;
        width: 292px;
        height: 302px;
        margin-left: -146px;
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
        background-repeat: no-repeat;
      }
    }

    &--pink {
      margin-left: 75px;

      &::before {
        content: "";
        position: absolute;
        top: -358px;
        left: 50%;
        width: 292px;
        height: 302px;
        margin-left: -142px;
        background-image: url("../img/iphone-screen-2-desktop@1x.png");
        background-repeat: no-repeat;
      }
    }

    &--smile {
      min-width: 251px;
      margin-left: 65px;
      padding-right: 8px;

      &::before {
        content: "";
        position: absolute;
        top: -357px;
        left: 50%;
        width: 292px;
        height: 302px;
        margin-left: -140px;
        background-image: url("../img/iphone-screen-3-desktop@1x.png");
        background-repeat: no-repeat;
      }

      .features__title {
        padding-left: 20px;
      }

      .features__text {
        padding-left: 12px;
      }
    }
  }
}

@media (min-width: @desktop) and (min-resolution: @retina-dpi),
  (min-width: @tablet) and (min-resolution: @retina-dppx) {
  .features__item--gray::before {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    background-size: 584px auto;
  }

  .features__item--pink::before {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-size: 584px auto;
  }

  .features__item--smile::before {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-size: 584px auto;
  }
}
