.field-page {
  padding-top: 45px;
  padding-bottom: 64px;
}

.field-page__fieldset {
  box-sizing: border-box;
}

.field-page__title {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

@media (min-width: @tablet) {
  .field-page__title {
    width: 550px;
    font-size: 18px;
  }

  .field-page__fieldset {
    border: 2px solid @gray-border;
    border-radius: 1px;

    &--border {
      border: none;
    }
  }
}

@media (min-width: @desktop) {
  .field-page__title {
    width: 820px;
  }
}
