.field-page {
  padding-top: 45px;
  padding-bottom: 64px;
}

.field-page__fieldset {
  margin: 0;
}

.field-page__title {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}
