.main-nav__toggle {
  display: none;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url('../img/icon-menu-burger.svg');
}

.main-nav__menu {
  margin: 0;
}
