.page-header {
  width: 100%;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #2b3b4b;
}

.page-header__top-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgba(29, 38, 49, 0.3);
}

.page-header__header {
  font-family: @light-font;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
