.page-header {
  width: 100%;
  min-height: 462px;
  padding: 0;
  box-sizing: border-box;
  &--smaller {
    height: 237px;
  }
}

.page-header__top-wrapper {
  width: 100%;
  min-height: 69px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 21px;
  background-color: @dark-blue;
  // background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  height: 22px;
}

.page-header__header {
  max-width: 230px;
  margin: 15% auto;
  font-family: @light-font;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet) {
  .page-header {
    min-height: 730px;
  }

  .page-header__top-wrapper {
    min-height: 110px;
    margin-bottom: 74px;
  }
}

@media (min-width: @desktop) {
  .page-header {
    min-height: 853px;
  }

  .page-header__top-wrapper {
    margin-bottom: 100px;
  }
}
