.photo-editor {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 198px;
  width: 100%;
  padding: 0;
  padding-bottom: 77px;
  border-bottom: 1px solid #dddfe0;
  list-style: none;
}

.photo-editor__icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;

  &--fill {
    margin-left: 34px;
    margin-right: 40px;
  }

  svg {
    fill: #b5b9be;
  }

  &:hover svg {
    fill: #8d949b;
  }

  &--active svg,
  &:active svg {
    fill: @pink;
  }
}

.photo-editor__range-controls {
  margin: 0 auto;

  &--active {
    margin-left: -120px;
  }
}

@media (min-width: @tablet) {
  .photo-editor {
    display: initial;
    border-bottom: none;
  }

  .photo-editor__item {
    display: flex;
    align-items: center;
    width: 275px;
    box-sizing: border-box;
    padding-bottom: 24px;
    padding-right: 18px;
    border-bottom: 1px solid #dddfe0;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  .photo-editor__icon {
    width: 24px;
    height: 24px;
    margin: 0;

    svg {
      width: 24px;
      height: 24px;
      fill: @pink;
    }

    &--contrast {
      width: 16px;
      height: 16px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .photo-editor__range-controls {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: @desktop) {
  .photo-editor__item {
    width: 410px;
    padding-bottom: 14px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .photo-editor__icon {
    width: 48px;
    height: 48px;

    svg {
      width: 48px;
      height: 48px;
    }

    &--contrast {
      width: 32px;
      height: 32px;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
