.post {
  text-align: center;
}

.post__title {
  margin: 0;
  line-height: 30px;
}

.post__wrapper {
  background-color: @gray-back;
}

.photo-editor {
  margin: 0 auto;
}

.post__range-controls {
  border-bottom: 1px solid #dddfe0;
}

.post__button {
  margin: 0 auto;
  margin-bottom: 12px;
}
