.price {
  padding-top: 160px;
  text-align: center;
  background: @gray-back url('../img/bg-triangle-white.svg') no-repeat top;
}

.price__table {
  border-collapse: collapse;
}

.price__header {
  display: block;
  width: 276px;
  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.price__name {
  font-family: @bold-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.price__sum {
  display: block;
  font-family: @light-font;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.price__item {
  padding: 22px;
  text-align: start;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  border-top: none;
  background-color: #ffffff;
}

.price__slider {
  position: relative;
  left: 35%;
}
