.research {
  display: none;
  width: 620px;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 100px;
}

.research__content {
  position: relative;
  margin-left: 310px;
  padding-top: 43px;
  padding-bottom: 31px;

  &::before {
    content: "";
    position: absolute;
    left: -307px;
    bottom: 0;
    width: 238px;
    height: 276px;
    background-color: blueviolet;
  }
}

.research__title {
  margin-top: 0;
  font-family: @bold-font;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.research__description {
  line-height: 24px;
}

.research__link {
  line-height: 24px;
  color: @pink;
}

@media (min-width: @tablet) {
  .research {
    display: block;
  }
}

@media (min-width: @desktop) {
  .research {
    width: 960px;
    padding-top: 70px;
    padding-bottom: 67px;
    background-color: @gray-back;
  }

  .research__content {
    margin-left: 375px;
    padding-top: 99px;
    padding-bottom: 51px;
    padding-right: 50px;

    &::before {
      width: 298px;
      height: 345px;
      left: -365px;
    }
  }

  .research__title {
    line-height: 30px;
  }

  .research__description {
    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
