.review  {
  text-align: center;
}

.review__back {
  width: 320px;
  height: 277px;
  padding-top: 25px;
  box-sizing: border-box;
  background-color: @gray-back;
  text-align: center;
}

.review__item {
  margin: 0;
  margin-top: 50px;
}

.review__author-name {
  display: inline-block;
  margin-bottom: 20px;
  font-family: @bold-font;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  color: #000000;
}

.review__text {
  margin: 0;
  margin-bottom: 37px;
  line-height: 30px;
}

.review__slider {
  position: relative;
  left: 35%;
  margin: 0;
}
