.user-contacts-list {
  padding: 0;
  list-style: none;
}

.user-contacts-list__label {
  .label();
  line-height: 30px;
}

.user-contacts-list__input {
  display: block;
  width: 100%;
  height: 59px;
  box-sizing: border-box;
  color: @dark-blue;
  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: @dark-blue;
    opacity: 1;
  }
}
