.user-contacts__title {
  display: none;
}

@media (min-width: @tablet) {
  .user-contacts {
    order: 3;
    min-width: 620px;
    margin: 0 auto;
    margin-bottom: 57px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .user-contacts__title {
    display: block;
    padding-left: 32px;
    padding-right: 33px;
    .label();
    line-height: 30px;
  }

  .user-contacts-list__item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 6px;
      width: 60px;
      height: 59px;
      background-color: @gray-border;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone::after {
      background-image: url("../img/icon-phone.svg")
    }

    &--mail::after {
      background-image: url("../img/icon-mail.svg")
    }
  }
}

@media (min-width: @desktop) {
  .user-contacts {
    width: 940px;
    margin-top: -6px;
  }

  .user-contacts-list__item {
    &::after {
      top: 2px;
    }
  }
}
