.user-photos {
  text-align: center;
}

.user-photos__title {
  margin: 0;
  line-height: 30px;
}

.user-photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-photos__item {
  margin: 20px;
  margin-top: 0;
  text-align: start;
  line-height: 24px;
  background-color: @gray-back;
}

.user-photos__photo {
  display: block;
}

.user-photos__time {
  font-family: @light-font;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.user-photos__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: @pink;
}
